<div class="landing-container">
    <div class="landing-inner">
        <div class="top">
            <h1><strong>gallolingo</strong></h1>
            <p>Free Gaulish language education for the world.</p>
        </div>

        <div class="bottom">
            <h1 class="divider">&bull; &bull; &bull; &bull;</h1>
            <p class="new-user"><%= link_to "GET STARTED", new_user_path %></p>
            <p class ="old-user"><%= link_to "I ALREADY HAVE AN ACCOUNT", sessions_login_path %></p>
        </div>
    </div>
</div>